{% extends "templates_dj_p3/base.html" %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Subaru is the automobile manufacturing division of Japanese transportation conglomerate Subaru Corporation, the twenty-first largest automaker by production worldwide in 2017. Subaru cars are known for their use of a boxer engine layout in most vehicles above 1500 cc.</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}